.login-body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    background-color: #424242;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 60%;
    margin: 0 auto;
    margin-top: 150px;
    height: 50%;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .login-container input[type="text"],
  .login-container input[type="password"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 20px;
    opacity: 0.8;
  }
  
  .login-container input[type="submit"] {
    width: 40%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .login-container input[type="submit"]:hover {
    background-color: #0056b3;
  }

.login-container h6{
    margin:20px ;
    
  font-size: 14px;
}

@media screen and  (min-width: 900px){
    .login-container{
        width: 30%;
    }
  }